
:host {
    display: flex;
    flex: 1;
    background-color: white;
}

#container {
    display: flex;
    flex-direction: row;
    flex: 1;

    .side-nav {
        min-width: 250px;
        display: flex;
        flex-direction: column;
    }

    .title-text {
        padding-left: 16px;
        margin-top: 12px;
        color: white;
        font-size: 0.8em;
    }
}