
:host {
    display: flex;
    flex: 1;
    background-color: white;
}

#container {
    display: flex;
    flex-direction: row;
    flex: 1;

    .side-nav {
        bottom: 0;
        overflow: hidden;
        position: fixed;
        top: 0;
        z-index: 1000;
        transition: all .2s ease;
        display: flex;
        flex-direction: column;
    }

    .side-nav-expand {
        width: 280px;

        .logo-container {
            border-bottom: 1px solid rgba(0,0,0,.0625);
            padding: 0 20px;
        }
    }

    .side-nav-collapse {
        width: 70px;

        .logo-container {
            border-bottom: 1px solid transparent;
            padding: 0;
        }
    }

    .side-nav-hidden {
        width: 0px;
    }

    .title-text {
        padding-left: 16px;
        margin-top: 12px;
        color: white;
        font-size: 0.8em;
    }
}