
:host {
    display: flex;
    flex: 1;
    background-color: white;
}

#container {
    display: flex;
    flex-direction: row;
    position: relative;
    flex: 1;

    .side-nav {
        bottom: 0;
        overflow: hidden;
        position: fixed;
        top: 0;
        z-index: 1000;
        transition: all .2s ease;
        display: flex;
        flex-direction: column;

        .logo-container {
            display: flex;
            align-items: center;
            flex-wrap: nowrap;
            white-space: nowrap;
            border-right: 1px solid rgba(255,255,255,0.2);

            .logo {
                width: 60px;
            }

            .logo-text {
                color: white;
                font-size: 0.7em;
                margin-left: 8px;
                letter-spacing: .5px;
            }
        }

        .side-bar-menu {
            list-style: none;
            display: flex;
            flex-direction: column;
            flex: 1;
            padding-top: 30px;

            li {
                position: relative;
                display: flex;
            }
        }

        .side-bar-menu > li > a {
            display: flex;
            flex: 1;
            align-items: center;
            font-size: 15px;
            padding: 12px 23px;
            white-space: nowrap;
            color: #16c79a;
            text-decoration: none;

            .icon {
                display: flex;
                left: 0;
                margin-right: 18px;
                transition: all .3s ease;
                font-size: 24px;
                width: 24px;
                height: 24px;
                flex-wrap: nowrap;
            }

            .text {
                display: inline-block;
            }
        }
    }

    .side-nav[class~="expand"] {
        width: 280px;

        .logo-container {
            border-bottom: 1px solid rgba(255,255,255,0.2);
            padding: 8px 20px;
            transition: all .2s ease;
        }
    }

    .side-nav[class~="collapse"], .side-nav[class~="hidden"]  {
        width: 70px;

        .logo-container {
            border-bottom: 1px solid transparent;
            padding: 8px 5px;
        }

        .side-bar-menu > li > a .text {
            display: none;
        }
    }

    .side-nav[class~="hidden"] {
        transform: translateX(-280px);
    }

    .title-text {
        padding-left: 16px;
        margin-top: 12px;
        color: white;
        font-size: 0.8em;
    }

    .content {
        transition: all .2s ease;
    }

    .content[class~="expand"] {
        padding-left: 280px;
    }

    .content[class~="collapse"] {
        padding-left: 70px;
    }

    .content[class~="hidden"] {
        padding-left: 0px;
    }
}